@model User

@{
    ViewData["Title"] = "Register";
}

<h1 class="display-4">Register</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" data-val="true"
                       data-val-required="The ID field is required." />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_name" class="control-label"></label>
                <input asp-for="user_name" class="form-control" data-val="true"
                       data-val-required="The Username field is required." />
                <span asp-validation-for="user_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Password" type="password"
                       class="form-control" data-val="true"
                       data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password", new  { @class = "text-danger"})
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Upload Image</legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />
                    <input name="imageName" type="hidden" value=Path.GetFileName(Image.FileName) />
                    <input name="imagePath" type="hidden" value=Image.FilePath/>
                    <br />
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>

            @Html.ValidationMessage("RegistrationFailure", new {@class = ""})
        </form>
    </div>
</div>
@section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}