@{
    ViewData["Title"] = "Forum Page";
    var user = (User)ViewBag.User;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Customer" asp-action="Deposit" asp-route-id="">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Customer" asp-action="Withdraw" asp-route-id="">Withdrawl</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Customer" asp-action="Transfer" asp-route-id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Customer" asp-action="BillPay" asp-route-id="">Bill Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Customer" asp-action="Statement" asp-route-id="">My Statement</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<h1 class="display-4">Forum Page</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th class="table-primary">test</th>

            </tr>
                <tr>
                    <td>test 2</td>

                </tr>
            
        </table>

    </div>

    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
