@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to:</h1>
    <h1>s3858853 A1 Forum </h1>


    <a class="btn btn-primary" asp-controller="Login" asp-action="Login">LOGIN</a>

</div>
