@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website has been built as an assignment for Cloud Computing at RMIT. (2022)</p>
<p>All data within this (and associated) sites are simulated and any data is used fictitiously. </p>
<p>
    Data in this simulation is unsecured and databased used are stored in Google Cloud Platform, the
    student who created this site take no responsibility for the security of the data and the privacy of the data.
</p>
<p><em>Please do not use passwords from other sites or provide other secure information when using this site.</em></p>